/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222222;
    font-size: 62.5%;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;

}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    margin: 0;
}


h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 2.5rem;
}

.menubar {
    margin: 1.5rem;
    box-sizing: border-box;
    height: 3.2rem;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menubar-nav {
    right: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubar-nav .hamburger.icon, .hamburger.close {
    border: 0;
    background: 0;
    position: absolute;
    top: 1.8rem;
    left: 85%;
    display: none;
}

.menubar-nav .hamburger.close {
    border: 0;
    background: 0;
    position: absolute;
    top: 1.8rem;
    left: 85%;
    display: block;
}

.menubar-nav.closed .hamburger.icon {
    display: block;
}

.menubar-nav.closed .hamburger.close {
    display: none;
}

.menubar-nav .menubar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    width: 120%;
    text-align: center;

}

.menubar-nav.closed .menubar-menu {
    display: none;
}

.menubar-nav .menubar-menu a {
    text-decoration: none;
    color: #222222;
}

.logo {
    height: 2rem;
    text-decoration: none;
    color: #222222;
    border: 0.2rem solid #FF0000;
    padding: 0.5rem;
    -webkit-border-radius: 2.5rem 0 2.5rem 2.5rem;
    -moz-border-radius: 2.5rem 0 2.5rem 2.5rem;
    border-radius: 2.5rem 0 2.5rem 2.5rem;
}

.main-header {
    background: url('../img/header-background.png') no-repeat;
    background-size: cover;
    padding: 5rem 1.5rem 4rem 1.5rem;
    text-align: center;
    color: #FFFFFF;
    margin: 3rem 0;

}

.main-header.button {
    -webkit-border-radius: 1.8rem;
    -moz-border-radius: 1.8rem;
    border-radius: 1.8rem;
    border: 0.2rem #FFFFFF solid;
    color: #FFFFFF;
    padding: 0.8rem 2rem;
    background: 0;
}

.main-header h3 {
    font-weight: 300;
    position: relative;
    padding-top: 125px;
}

.main-header h3::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 10%;
    top: 90%;
    left: 7%;
    background-color: #FFFFFF;
}

.main-header h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 10%;
    top: 90%;
    right: 7%;
    background-color: #FFFFFF;
}

#arrows {
    position: relative;
    margin: 0 auto;
    text-align: center;
    animation: jump 2s infinite;
}

@keyframes jump {
    0% {
        top: 0;
    }
    50% {
        top: 0.5rem;
    }
    100% {
        top: 0;
    }
}

.title {
    font-size: 4rem;
}

.progress-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-container .progress-circle {
    margin: 2rem;
    width: 20rem;
    height: 20rem;
    position: relative;
    font-size: 5rem;
    font-weight: 700;
}

.progress-container h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    top: 60%;
    left: 18%;
}

.progress-container #clients h3 {
    left: 30%;
}

.progress-container #months h3 {
    left: 30%;
}

.section-header {
    color: #FFFFFF;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5rem 1.5rem 4rem 1.5rem;
    outline: 0.1rem #FFFFFF solid;
    outline-offset: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header h4 {
    font-weight: 300;
    position: relative;
}

.section-header h4::before {
    content: '';
    width: 40%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -50%;
    background-color: #FFFFFF;
}

.section-header h4::after {
    content: '';
    width: 40%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: -50%;
    background-color: #FFFFFF;
}

#our-team header {
    background: url('../img/our-team-header.png') no-repeat;

}

#portfolio header {
    background: url('../img/portfolio-header.png') no-repeat;
}

#brands header {
    background: url('../img/brands-header.png') no-repeat;
}

.team-member {
    margin: 0;
    text-align: center;
}

.team-member.description {
    position: relative;
    margin: 10% 3% 0 3%;
    border: 2px solid #000000;
    border-bottom: none;
    padding: 10% 3%;
}

.team-member.photo {
    background-size: cover;
    height: 24rem;
    background-repeat: no-repeat;
}

.team-member.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FFFFFF;
    position: absolute;
    left: 45%;
}

.team-member.border {
    height: 90%;
    margin: 0 3% 10% 3%;
    border: 2px solid #FFFFFF;
    border-top: none;
}

.team-member hr {
    border-top: 2px solid #F62700;
    margin: 1rem 7rem;
}

#adrianna .team-member.photo {
    background-image: url('../img/team-adrianna.png');
}


#olivia .team-member.photo {
    background: url('../img/team-olivia.png') no-repeat;
}


#thomas .team-member.photo {
    background-image: url('../img/team-thomas.png');
}


#taylor .team-member.photo {
    background: url('../img/team-taylor.png') no-repeat;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects img {
    width: 33%;
    filter: grayscale(1);
}

.projects img:hover {
    width: 33%;
    filter: grayscale(0);
}

.brand-logos {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.brand-logo {
    width: 32%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem #F5F5F5 solid;
    filter: grayscale(1);
    opacity: 0.3;
}

.brand-logo:hover {
    opacity: 1;
    filter: grayscale(0);
}

.main-footer .footer-nav {
    margin: 0;
    padding: 5rem 0;
    text-align: center;
    background: #181818;
    color: #FFFFFF;

}

.main-footer .footer-nav p {
    color: #4B4B4B;

}


.main-footer .copyright {
    text-align: center;
    background: #151515;
    color: #323232;
    margin: 0;
}

.main-footer hr {
    border-top: 2px solid #009684;
    margin: 1rem 11rem;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

