* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #222222;
    font-size: 62.5%;
}


::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    width: 100%;
    padding: 0;
    margin: 0;

}

h1, h2, h3 {
    text-transform: uppercase;
    margin: 0;
}

h4, h5 {
    margin: 0;
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 2.5rem;
}

.menubar .menubar-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    height: 6.5rem;
    background: #FFFFFF;
    flex-wrap: wrap;
}

.menubar .menubar-nav .menubar-logo {
    display: flex;
    height: 6.5rem;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.menubar .menubar-nav .menubar-logo a {
    margin: 1.5rem 1rem;
}

.menubar-social {
    list-style: none;
    display: none;
}

.menubar-social li a{
    color: #000000;
    transition: all 0.5s ease;
}

.menubar-social li a:hover{
    color: #F34739;
}

.menubar .menubar-nav .menubar-icon {
    height: 6.5rem;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.menubar .menubar-nav .menubar-icon button {
    padding: 3rem 1.5rem;
}

.menubar .menubar-nav .menubar-icon .hamburger.icon {
    border: 0;
    background: 0;
    display: none;
    cursor: pointer;
}

.menubar .menubar-nav .menubar-icon .hamburger.close {
    border: 0;
    background: 0;
    display: block;
    cursor: pointer;
}

.menubar .menubar-nav.closed .menubar-icon .hamburger.icon {
    display: block;
}


.menubar .menubar-nav.closed .menubar-icon .hamburger.close {
    display: none;
}

.menubar .menubar-nav .menubar-content {
    width: 100%;
    background: #FFFFFF;
    z-index: 1;
    text-transform: uppercase;
}

.menubar .menubar-nav .menubar-content .menubar-menu {
    list-style: none;
    text-align: center;
    padding: 0;
}

.menubar .menubar-nav .menubar-icon p {
    color: #FFFFFF;
    display: none;
}

.menubar .menubar-nav.closed .menubar-menu {
    display: none;
}

.menubar .menubar-nav .menubar-content .menubar-menu li {
    padding: 2rem 0;
}

.menubar .menubar-nav .menubar-content .menubar-menu a {
    text-decoration: none;
    color: #222222;
}

.menubar .menubar-nav .menubar-logo .logo {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    color: #222222;
    border: 0.1rem solid #f34739;
    padding: 0.5rem 1rem;
    -webkit-border-radius: 1.5rem 0 1.5rem 1.5rem;
    -moz-border-radius: 1.5rem 0 1.5rem 1.5rem;
    border-radius: 1.5rem 0 1.5rem 1.5rem;
}

.main-header {
    background: url('../img/header-background.png') no-repeat;
    background-size: cover;
    padding: 5rem 1.5rem 4rem 1.5rem;
    text-align: center;
    color: #FFFFFF;

}

.main-header.button {
    -webkit-border-radius: 1.8rem;
    -moz-border-radius: 1.8rem;
    border-radius: 2.5rem;
    border: 0.2rem #FFFFFF solid;
    color: #FFFFFF;
    margin: 5rem 0;
    padding: 0.8rem 2rem;
    background: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
    opacity: 0.9;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-header.button:hover {
    background: #FFFFFF;
    color: #000000;
}

.main-header h1 {
    padding-top: 2.5rem;
    padding-bottom: 0;
    font-weight: 700;
}

.main-header h3 {
    display: inline-block;
    font-size: 1.9rem;
    position: relative;
    opacity: 0.75;
    font-weight: 300;
    text-transform: none;
}

.main-header h3::before, .main-header h3::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 0.1rem;
    top: 50%;
    background-color: #FFFFFF;
}

.main-header h3::before {
    left: -50%;
}

.main-header h3::after {
    right: -50%;
}


#arrows {
    position: relative;
    margin: 0 auto;
    text-align: center;
    animation: jump 2s infinite;
}

@keyframes jump {
    0% {
        top: 0;
    }
    50% {
        top: 0.5rem;
    }
    100% {
        top: 0;
    }
}

.title {
    font-size: 4rem;
}


.progress-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25%;
}

.progress-container .progress-circle {
    margin: 2rem;
    width: 20rem;
    height: 20rem;
    position: relative;
    font-size: 7.2rem;
    font-weight: 700;
}

.progress-container .progress-circle h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    position: absolute;
    top: 60%;
    left: 18%;

}

.progress-container #clients h3 {
    left: 30%;
}

.progress-container #months h3 {
    left: 30%;
}

section {
    text-align: center;
    width: 100%;
}

section .section-header {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

#our-team .section-header {
    background-image: url('../img/our-team-header.png');
}

#portfolio .section-header {
    background-image: url('../img/portfolio-header.png');
}

#brands .section-header {
    background-image: url('../img/brands-header.png');
}


.info-container {
    display: block;
    max-width: 950px;
    margin: 0 auto;
    color: #ffffff;
    padding: 10% 3%;
    border: 0.2rem solid #ffffff;
}

.info-container h4 {
    display: inline-block;
    font-size: 1.9rem;
    position: relative;
    opacity: 0.75;
}

.info-container h4:before, .section-header h4:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    top: 50%;
    background-color: #ffffff;
}

.info-container h4:before {
    left: -50%;
}

.info-container h4:after {
    right: -50%;
}

.info-container h1, .section-header h2 {
    font-family: 'quicksand-bold', sans-serif;
    text-transform: uppercase;
    font-size: 4.8rem;
    margin: 1rem 0 3rem 0;
}

.info-container h2 {
    font-size: 4.4rem;
}


#brands .section-header h4 {
    padding: 0 1.5rem;
    font-size: 1.7rem
}

#brands .section-header h4::before {
    width: 25%;
}

#brands .section-header h4::after {
    width: 25%;
}


.info-container h3 {
    font-weight: 700;
    font-size: 4.8rem;
}

.team-members {
    width: 90%;
    max-width: 120rem;
    margin: 4rem auto;
    text-align: center;
}

.team-member {
    max-width: 118rem;
}

.team-member p {
    padding-top: 2rem;
    max-width: 28rem;
    margin: 0 auto;
}


.team-member .description h3 {
    font-size: 3.6rem;
    font-weight: 400;
}

.team-member .description h4 {
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    padding-bottom: 2rem;
}

.team-member .description h4:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 40%;
    height: 0.3rem;
    background: #F34739;
}

.description {
    position: relative;
    margin: 10% 3% 0 3%;
    border: 2px solid #454545;
    border-bottom: none;
    padding: 10% 3%;
    height: 25rem;
}

.description:after {
    content: '';
    position: absolute;
    top: 100%;
    border-top: 2rem solid #fff;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
}

.photo {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
}

.photo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-calc(94% - 0.4rem);
    width: calc(94% - 0.4rem);
    height: -webkit-calc(90% - 0.2rem);
    height: calc(90% - 0.2rem);
    margin: 0 3% 10% 3%;
    border: 0.2rem solid #fff;
    border-top: 0;
}


.team-member hr {
    border-top: 0.2rem solid #F62700;
    margin: 1rem 7rem;
}

#adrianna .photo {
    background-image: url('../img/team-adrianna.png');
}


#olivia .photo {
    background-image: url('../img/team-olivia.png');
}


#thomas .photo {
    background-image: url('../img/team-thomas.png');
}


#taylor .photo {
    background-image: url('../img/team-taylor.png');
}

.projects {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.projects img {
    filter: grayscale(1);
}


.projects .photo-m {
    width: 33%;
    height: 33%;
    display: block;
}

.projects .photo-d {
    display: none;
}

.projects img:hover {
    filter: grayscale(0);
}

.brand-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.brand-logo, .brand-logo-d {
    width: 32%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem #F5F5F5 solid;
    filter: grayscale(1);
    opacity: 0.3;
}

.brand-logo-d {
    display: none;
}

.brand-logo:hover, .brand-logo-d:hover {
    opacity: 1;
    filter: grayscale(0);
}

.main-footer .footer-nav {
    margin: 0;
    padding: 5rem 0;
    text-align: center;
    background: #181818;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main-footer .footer-nav h3 {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
}

.main-footer .footer-nav h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    height: 0.2rem;
    background: #009989;
}





.main-footer .footer-nav p {
    font-weight: 400;
    font-size: 1.8rem;
    color: #4B4B4B;
    margin: 1rem 20%;
    text-align: center;
    padding: 2rem 0 0 0;

}


.main-footer .copyright {
    text-align: center;
    background: #151515;
    color: #323232;
    margin: 0;
}


@media (min-width: 64rem) {
    .menubar .menubar-nav .menubar-logo {
        width: 70%;
    }

    .menubar .menubar-nav .menubar-logo .logo {
        margin: 1.5rem 20rem;
    }

    .menubar .menubar-nav .menubar-social {
        display: flex
    }

    .menubar .menubar-nav .menubar-icon {
        background: #101010;
        display: flex;
        justify-content: flex-start;
        width: 30%;
    }

    .menubar .menubar-nav .menubar-icon p {
        display: block;
        text-transform: uppercase;
    }

    .menubar .menubar-nav .menubar-content {
        width: 30%;
        background: #101010;

    }

    .menubar .menubar-nav .menubar-content .menubar-menu {
        text-align: left;
        margin: 0;
        padding: 0 4rem;
        cursor: pointer;
    }

    .menubar .menubar-nav .menubar-icon .hamburger.close {
        display: block;
        color: #FFFFFF;
    }

    .menubar .menubar-nav.closed .menubar-icon .hamburger.icon {
        color: #FFFFFF;
    }



    .menubar .menubar-nav .menubar-content .menubar-menu a {
        text-transform: uppercase;
        color: #FFFFFF;

    }

    .main-header {
        background: url('../img/header-background-screen.png') no-repeat;
        background-size: cover;
    }

    .header-inner {
        padding-top: 18rem;
    }


    .main-header .title {
        font-size: 7.2rem;
        padding-top: 0;
    }


    .main-header .button {
        padding: 1.5rem 5rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        border-radius: 3rem;
        margin: 5rem 0 15rem 0;
    }


    #progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4rem 0;
    }

    #progress-bar p {
        width: 50%
    }

    .progress-container {
        padding: 0;
    }


    #our-team .section-header {
        background-image: url("../img/our-team-header-d.png");
    }

    #portfolio .section-header {
        background-image: url("../img/portfolio-header-d.png");
    }

    #brands .section-header {
        background-image: url("../img/brands-header-d.png");
    }

    .info-container {
        padding: 5% 3%;
    }

    .team-member {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .team-member .description {
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        margin: 0;
        padding: 3.7rem 1.5rem;
    }

    .team-member .description:after {
        content: '';
        position: absolute;
        top: 50%;
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        z-index: 1;
    }

    .team-member .photo {
        flex-basis: 50%;
    }

    .team-member .photo:after {
        content: '';
        display: block;
        border-top: 0.2rem solid #FFFFFF;
        width: -webkit-calc(100% - 2.2rem);
        width: calc(100% - 2.2rem);
        height: -webkit-calc(100% - 5.2rem);
        height: calc(100% - 5.2rem);
    }

    .team-member:nth-child(even) .description {
        border-right: none;
        border-bottom: 0.2rem solid #000;
    }

    .team-member:nth-child(even) .description:after {
        left: 100%;
        border-left: 2rem solid #fff;
        border-right: none;
    }

    .team-member:nth-child(even) .photo:after {
        border-left: none;
        margin: 2.4rem 2rem 2rem 0;
    }

    .team-member:nth-child(odd) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -moz-box-orient: horizontal;
        -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .team-member:nth-child(odd) .description {
        border-left: none;
        border-bottom: 0.2rem solid #000000;
    }

    .team-member:nth-child(odd) .description:after {
        right: 100%;
        border-right: 2rem solid #FFFFFF;
        border-left: none;
    }

    .team-member:nth-child(odd) .photo:after {
        border-right: none;
        margin: 2.4rem 0 2rem 2rem;
    }

    .team-member:last-child .description {
        padding: 5.7rem 1.5rem;
    }

    .team-member .employee-photo {
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
    }

    .team-member .employee-photo:after {
        content: '';
        display: block;
        border-top: 0.2rem solid #fff;
        width: -webkit-calc(100% - 2.2rem);
        width: calc(100% - 2.2rem);
        height: -webkit-calc(100% - 5.2rem);
        height: calc(100% - 5.2rem);
    }


    #adrianna .photo {
        background-image: url("../img/team-adrianna-d.png");
    }

    #olivia .photo {
        background-image: url("../img/team-olivia-d.png");
    }

    #thomas .photo {
        background-image: url("../img/team-thomas-d.png");
    }

    #taylor .photo {
        background-image: url("../img/team-taylor-d.png");
    }

    .projects {
        display: flex;
        justify-content: center;
    }

    .projects .photo-m {
        display: none;
    }

    .projects .photo-d {
        display: block;
        width: 14%;
        height: 14%;
    }


    .brand-logos {
        width: 100%;
    }

    .brand-logo, .brand-logo-d {
        width: 13%;
        height: 25rem;
    }

    .brand-logo-d {
        display: flex;
        width: 13%;
    }

    .main-footer .footer-nav {
        flex-direction: row;

    }

    .main-footer .footer-nav div {
        width: 33%;
        text-align: center;
    }

    .main-footer .footer-nav div p {
        margin: 0;
        padding: 2rem 30% 0;
    }



}
