/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222222;
    font-size: 62.5%;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;

}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    margin: 0;
}


h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 2.5rem;
}

.menubar .menubar-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    height: 6.5rem;
    background: #FFFFFF;
    flex-wrap: wrap;
}

.menubar .menubar-nav .menubar-logo {
    height: 6.5rem;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menubar .menubar-nav .menubar-logo a{
    margin: 1.5rem 1rem;
}

.menubar .menubar-nav .menubar-icon {
    height: 6.5rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menubar .menubar-nav .menubar-icon button{
    padding: 3rem 1.5rem;
}

.menubar .menubar-nav .menubar-icon .hamburger.icon {
    border: 0;
    background: 0;
    display: none;
}

.menubar .menubar-nav .menubar-icon .hamburger.close {
    border: 0;
    background: 0;
    display: block;
}

.menubar .menubar-nav.closed .menubar-icon .hamburger.icon {
    display: block;
}

.menubar .menubar-nav.closed .menubar-icon .hamburger.white.icon {
    display: none;
}

.menubar .menubar-nav.closed .menubar-icon .hamburger.close {
    display: none;
}
.menubar .menubar-nav.closed .menubar-icon .hamburger.white.close {
    display: none;
}
.menubar .menubar-nav .menubar-icon .hamburger.white.close {
    display: none;
}

.menubar .menubar-nav .menubar-content {
    width: 100%;
    background: #FFFFFF;
    z-index: 1;
}

.menubar .menubar-nav .menubar-content .menubar-menu {
    list-style: none;
    text-align: center;
    padding: 0;
}

.menubar .menubar-nav .menubar-icon p {
    color: #FFFFFF;
    display: none;
}

.menubar .menubar-nav.closed .menubar-menu {
    display: none;
}

.menubar .menubar-nav .menubar-content .menubar-menu a {
    text-decoration: none;
    color: #222222;
}

.menubar .menubar-nav .menubar-logo .logo {
    font-weight: lighter;
    height: 2rem;
    text-decoration: none;
    color: #222222;
    border: 0.1rem solid #FF0000;
    padding: 0.5rem;
    -webkit-border-radius: 2.5rem 0 2.5rem 2.5rem;
    -moz-border-radius: 2.5rem 0 2.5rem 2.5rem;
    border-radius: 2.5rem 0 2.5rem 2.5rem;
}

.main-header {
    background: url('../img/header-background.png') no-repeat;
    background-size: cover;
    padding: 5rem 1.5rem 4rem 1.5rem;
    text-align: center;
    color: #FFFFFF;

}

.main-header.button {
    -webkit-border-radius: 1.8rem;
    -moz-border-radius: 1.8rem;
    border-radius: 1.8rem;
    border: 0.2rem #FFFFFF solid;
    color: #FFFFFF;
    margin: 5rem 0;
    padding: 0.8rem 2rem;
    background: 0;
}

.main-header h1 {
    padding-top: 2.5rem;
    padding-bottom: 0;
    font-weight: 700;
}

.main-header h3 {
    font-weight: 300;
    position: relative;
    padding-top: 1.3rem;
    font-size: 2.4rem;
}

.main-header h3::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 15%;
    top: 70%;
    left: 4%;
    background-color: #FFFFFF;
}

.main-header h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 15%;
    top: 70%;
    right: 4%;
    background-color: #FFFFFF;
}


#arrows {
    position: relative;
    margin: 0 auto;
    text-align: center;
    animation: jump 2s infinite;
}

@keyframes jump {
    0% {
        top: 0;
    }
    50% {
        top: 0.5rem;
    }
    100% {
        top: 0;
    }
}

.title {
    font-size: 4rem;
}


.progress-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-container .progress-circle {
    margin: 2rem;
    width: 20rem;
    height: 20rem;
    position: relative;
    font-size: 5rem;
    font-weight: 700;
}

.progress-container h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    top: 60%;
    left: 18%;
}

.progress-container #clients h3 {
    left: 30%;
}

.progress-container #months h3 {
    left: 30%;
}


.section-header {
    color: #FFFFFF;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5rem 1.5rem 4rem 1.5rem;
    outline: 0.1rem #FFFFFF solid;
    outline-offset: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header h4 {
    font-weight: 300;
    position: relative;
}

.section-header h4::before {
    content: '';
    width: 40%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -50%;
    background-color: #FFFFFF;
}

.section-header h4::after {
    content: '';
    width: 40%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: -50%;
    background-color: #FFFFFF;
}

#our-team header {
    background: url('../img/our-team-header.png') no-repeat;
    background-size: cover;

}

#portfolio header {
    background: url('../img/portfolio-header.png') no-repeat;
    background-size: cover;
}

#brands header {
    background: url('../img/brands-header.png') no-repeat;
    background-size: cover;
}

.team-member {
    margin: 0 auto;
    text-align: center;
}

.team-member .description {
    position: relative;
    margin: 10% 3% 0 3%;
    border: 0.2rem solid #000000;
    border-bottom: none;
    padding: 10% 3%;
}

.team-member .photo {
    background-size: cover;
    height: 24rem;
    background-repeat: no-repeat;
}

.team-member .triangle {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 2rem solid #FFFFFF;
    position: absolute;
    left: 45%;
}

.team-member .border {
    height: 90%;
    margin: 0 3% 10% 3%;
    border: 2px solid #FFFFFF;
    border-top: none;
}

.team-member hr {
    border-top: 2px solid #F62700;
    margin: 1rem 7rem;
}

#adrianna .photo {
    background-image: url('../img/team-adrianna.png');
}


#olivia .photo {
    background-image: url('../img/team-olivia.png');
}


#thomas .photo {
    background-image: url('../img/team-thomas.png');
}


#taylor .photo {
    background-image: url('../img/team-taylor.png');
}

.projects {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.projects img {
    filter: grayscale(1);
}


.projects .photo-m {
    width: 33%;
    display: block;
}

.projects .photo-d {
    display: none;
}

.projects img:hover {
    filter: grayscale(0);
}

.brand-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.brand-logo, .brand-logo-d {
    width: 32%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem #F5F5F5 solid;
    filter: grayscale(1);
    opacity: 0.3;
}

.brand-logo-d {
    display: none;
}

.brand-logo:hover, .brand-logo-d:hover {
    opacity: 1;
    filter: grayscale(0);
}

.main-footer .footer-nav {
    margin: 0;
    padding: 5rem 0;
    text-align: center;
    background: #181818;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main-footer .footer-nav h3 {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
}

.main-footer .footer-nav div {
}


.main-footer .footer-nav p {
    font-weight: 400;
    font-size: 1.8rem;
    color: #4B4B4B;
    margin: 1rem 20%;
    text-align: center;

}


.main-footer .copyright {
    text-align: center;
    background: #151515;
    color: #323232;
    margin: 0;
}

.main-footer hr {
    border-top: 2px solid #009684;
    margin: 1rem 11rem;
}

@media (min-width: 64rem) {
    .menubar .menubar-nav .menubar-logo {
        width: 75%;
    }
    .menubar .menubar-nav .menubar-icon {
        background: #101010;
        display: flex;
        justify-content: flex-start;
        width: 25%;
    }

    .menubar .menubar-nav .menubar-icon p {
        display: block;
    }

    .menubar .menubar-nav .menubar-content {
        width: 25%;
        background: #101010;

    }
    .menubar .menubar-nav .menubar-content .menubar-menu  {
        text-align: left;

    }

    .menubar .menubar-nav .menubar-icon .hamburger.close {
        display: none;
    }

    .menubar .menubar-nav .menubar-icon .hamburger.white.close {
        display: block;
        color: #FFFFFF;
    }


    .menubar .menubar-nav.closed .menubar-icon .hamburger.icon {
        display: none;
    }

    .menubar .menubar-nav.closed .menubar-icon .hamburger.white.icon {
        display: block;
    }




    .menubar .menubar-nav .menubar-content .menubar-menu a {
        color: #FFFFFF;

    }

    .main-header {
        background: url('../img/header-background-screen.png') no-repeat;
        background-size: cover;
    }


    #progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #progress-bar p{
        width: 50%
    }


    #our-team header {
        background: url("../img/our-team-header-d.png") no-repeat;
        background-size: cover;
    }

    #portfolio header {
        background: url("../img/portfolio-header-d.png") no-repeat;
        background-size: cover;
    }

    #brands header {
        background: url("../img/brands-header-d.png") no-repeat;
        background-size: cover;
    }

    .team-members {
        margin: 0 20%;
        padding: 0;
    }

    .team-member {
        display: flex;
        align-items: center;
        margin-bottom: 5%;
    }

    .team-member .description {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding: 0;
        margin: 0;
    }

    .team-member .photo {
        margin-top: 1rem;
        flex-basis: 50%;
    }

    .team-member .border {
        margin-top: 3rem;
        border-top: 0.2rem solid #FFFFFF;
        height: 70%;
    }

    .team-member:nth-child(even) .description {
        border-right: none;
        border-bottom: 2px solid #000000;
    }

    .team-member:nth-child(even) .border {
        margin-left: 0;
    }

    .team-member:nth-child(even) .triangle {
        border-top: 3rem solid transparent;
        border-bottom: 3rem solid transparent;
        border-left: 3rem solid #FFFFFF;
        left: 50%;
        margin-top: 2rem;
    }

    .team-member:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .team-member:nth-child(odd) .description {
        border-left: none;
        border-bottom: 2px solid #000000;
    }

    .team-member:nth-child(odd) .border {
        margin-right: 0;
    }

    .team-member:nth-child(odd) .triangle {
        border-top: 3rem solid transparent;
        border-bottom: 3rem solid transparent;
        border-right: 3rem solid white;
        left: 47.5%;
        margin-top: 2rem;
    }

    .team-member:first-child {
        margin-top: 10%;
    }

    .team-member:last-child {
        margin-bottom: 10%;
    }

    #adrianna .photo {
        background-image: url("../img/team-adrianna-d.png");
    }

    #olivia .photo {
        background-image: url("../img/team-olivia-d.png");
    }

    #thomas .photo {
        background-image: url("../img/team-thomas-d.png");
    }

    #taylor .photo {
        background-image: url("../img/team-taylor-d.png");
    }

    .projects {
        display: flex;
        justify-content: center;
    }

    .projects .photo-m {
        display: none;
    }

    .projects .photo-d {
        display: block;
        width: 14%;
    }




    .brand-logos {
        width: 100%;
    }

    .brand-logo {
        width: 13%;
    }

    .brand-logo-d {
        display: flex;
        width: 13%;
    }

    .main-footer .footer-nav {
        flex-direction: row;

    }

    .main-footer .footer-nav div {
        width: 33%;
        text-align: center;
    }

    .main-footer .footer-nav div p{
        margin: 0;
        padding: 0 30%;
    }

    .main-footer .footer-nav .about p{
        padding: 0 30%;
    }

    .main-footer .footer-nav div hr {
        margin: 0 40%;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

